/*
 * ==========================================
 *  فونت پیش‌فرض وزیرمتن (آفلاین)
 * ==========================================
 * این فایل فونت وزیرمتن را از فایل‌های محلی
 * بارگذاری می‌کند تا برنامه به صورت آفلاین کار کند.
 */

@font-face {
  font-family: 'Vazirmatn';
  src: url('../../lib/vendor/fonts/vazirmatn/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('../../lib/vendor/fonts/vazirmatn/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('../../lib/vendor/fonts/vazirmatn/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}